/* *{
  margin: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', 'Open Sans', 'Roboto', sans-serif;
}
 */

 .title {
   margin-top: 15%;
   margin-left: 6%;
 }

 .container code {
   line-height: 50px;
 }

 .about-icons ul {
   display: flex;
   height: 100px;
   list-style-type: none;
   margin-left: 3%;
   padding-top: 2%;
   padding-right: 50%;
   justify-content: space-between;
   
 }