h1 {
    font size: 10;
    margin: 5% 25%;
}
body {
    height: 100%;
    width: 100%;
    background: white;
}
.blog {
    width: 500px;

}
.main-container {
    height: 112%;
    width: 50%;
    border: 1px solid gray;
    margin: 0% 25%;
    
}

.blogs-container {
    height: 100%;
    width: 100%;
    border: 2px solid green
}

.blog {
    height: 100px;
    width: 97%;
    border: 2px dotted blue;
    margin: 1% auto;
    background: green;
    filter: drop-shadow(-.5em .4em .4em
     rgb(37, 37, 37))
}

.title {
    color: blue;
    font-weight: bold;
    font-size: 25;
    margin: 1%;
}
