h1 {
    font-size: 40;
    font-family: arial;
    margin: 3% 25%;
    text-align: center;
}
body {
    height: 100%;
    width: 100%;
    background: rgba(218, 204, 204, 0.925);
}
.blog {
    width: 500px;

}
.main-container {
    height: 145%;
    width: 50%;
    border: 10px solid rgb(173, 173, 236);
    margin: 0% 25%;
    
}

.blogs-container {
    height: 200%;
    width: 100%;
    border: 2px brown;

}

.blog {
    height: 102px;
    width: 97%;
    border: 2px dotted blue;
    border-radius: .6em;
    padding: 2px;
    margin: 3% auto;
    background: whitesmoke;
    transition: all .8s;
    filter: drop-shadow(-.5em .4em .4em
     rgb(160, 113, 113))
}
.blog:hover {
   
    margin: 4% 3%;
    background: whitesmoke;
    filter: drop-shadow(-.5em .4em .4em
     rgb(160, 113, 113));
     
}

.title {
    color: blue;
    font-weight: bold;
    font-size: 20;
    margin: 1% ;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.date {
    margin:1%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.content {
    margin:1%
}

#content {
    margin:1%
}

#content:hover {
    color:darkgray;
}
