body {
  padding-top: 10px;
  background: #f5f7f8;
  border: dashed black;

}

.grid-1 {
  display: grid;
  width: 100%;
  max-width: 7500px;
  margin: 0 auto;
  
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 400px 800px 500px;
  grid-gap: 20px;
  
  grid-template-areas: "header   header   header"
                       "main     main     sidebar"
                       "footer   footer   footer";
}

.grid-1 div {
  color: white;
  font-size: 20px;
  padding: 20px;
  }

/* specific item styles */

.item-1 {
  background-image: url("chips.png");
  border: dashed blue;
  grid-area: header;
}
.item-2 {
  background: #33a8a5;
  grid-area: main;
  display: grid;  
  grid-template-columns: 1fr 30%;
  grid-template-rows: auto auto;
  grid-gap: 10px;
  grid-template-areas: "header sale"
                       "article sidebar";
  
}
.item-3 {
  background-image: url("chobani.png");
  background-size: 130%;
  border: 7px dashed blue;
  background-position: center;
  grid-area: sidebar;
  background-repeat: no-repeat;
}
.item-4 {
  background-image: url("monster.png");
  grid-area: footer;
}
.item-5 {
  background-image: url("bjs.png");
  background-size: 70%;
  background-repeat: no-repeat;
  grid-area: header;
}
.item-6 {
  background-image: url("coke.png");
  background-size: 105%;
  background-repeat: no-repeat;
  grid-area: article;
  margin: 20px;
}
.item-7 {
  background-image: url("nuts.png");
  border: dashed green;
  background-size: cover;
  grid-area: sidebar;
}

.item-8 {
  grid-area: sale;
}

.item-8 > p {
  font-size: 50px;
}