.ex-9 p{
  margin-bottom: 0;
}

.ex-9 .header{
  padding: 1rem 0;
  background: #f1f1f1;
  border-bottom: 1px solid #ddd;
  border-top: 4px solid hsl(5, 53%, 60%);
}

.ex-9 .wrapper{
  width: 80%;
  margin: 0 auto;
}

.ex-9 .logo{
  font-weight: bold;
  font-family: 'Georgia';
  font-style: italic;
  font-size: 2rem;
}

.ex-9 .header .wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ex-9 .header .wrapper div{
  display: flex;
  align-items: center;
}

.ex-9 .header .wrapper ul li{
  display: inline-block;
  list-style: none;
  font-size: 1.3rem;
  font-weight: 500;
  margin-right: 1rem;
  color: #444;
  cursor: pointer;
}

.ex-9 .header .wrapper ul li:hover{
  color: #666;
}

.ex-9 .header a{
  display: inline-block;
  padding: .325rem 1.5rem;
  text-decoration: none;
  font-size: .875rem;
  border-radius: 5px;
  font-weight: 500;
}

.ex-9 .log-in{
  border: 1px solid #aaa;
  color: #222;
}

.ex-9 .log-in:hover{
  background: #ddd;
}

.ex-9 .sign-up{
  background: hsl(5, 53%, 60%);
  border: 1px solid hsl(5, 53%, 60%);
  margin-left: 1rem;
  color: #fff;
}

.ex-9 .sign-up:hover{
  background: hsl(5, 50%, 40%);
  border: 1px solid hsl(5, 40%, 48%);
}

.ex-9 .body{
  padding: 5rem 2rem;
  background: rgb(204, 204, 152);
}

.ex-9 .title{
  font-size: 1.75rem;
  max-width: 35rem;
  line-height: 1.2;
  margin-bottom: .5rem;
}

.ex-9 .sub{
  font-size: .875rem;
  color: rgba(0,0,0,0.7);
  margin-bottom: 2rem;
}

.ex-9 .body a{
  background: hsl(5, 53%, 60%);
  display: inline-block;
  padding: .5rem 3rem;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
}

.ex-9 .body a:hover{
  background: hsl(5, 40%, 48%);
}

.ex-9 .body a .label{
  text-transform: uppercase;
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
}

.ex-9 .body a .desc{
  font-size: .875rem;
  color: rgba(255,255,255,0.5);
}
