*{
  margin: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', 'Open Sans', 'Roboto', sans-serif;
}

.container {
  margin: 50px;
  border: 5px rgb(121, 121, 156);
  padding: 20px;
  background-color: rgb(121, 121, 156);
  color: whitesmoke;
}

.container h3 {
  line-height: 80px
}

.container input {
  margin-top: 20px;
  line-height: 20px;
  width:200px;
}

.container button {
  margin-left: 5px;
  height: 25px;
  background-color: bisque;
}

.container button:hover{
  margin-left: 5px;
  height: 25px;
  background-color: rgb(119, 83, 40);
}
