* {
  margin: 7px;
  padding-right: 15px;
  padding-top: 10px;
  padding-left: 7px;
  box-sizing: border-box;
}

body {
  background: rgb(230, 233, 233);
}

.app {
  height: 100%;
  width: 100%;
}

.card-img-top {
  height: 275px;
  object-fit: cover;
  -webkit-transition:  all 700ms ease-in-out;
}

.card-img-top:hover {
  height: 300px;
  width: 320px;
  margin-left: -5px;
  object-fit: cover;
}

h5 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: bold;
}